#paper-sub{
    padding: 2% 10%;
}
.paper-content{
    font-size: 23px;
}
.general-info , .plagarism , .publication{
    /* display: flex;
    flex-direction: column; */
    /* overflow: auto; */
    overflow-x: hidden;
    width: 100%;
}
.paper-content a {
    word-wrap: break-word;
}

 